<!DOCTYPE html>
<html lang="en">
<head>
  <title>Formeasy AAdhar</title>
  <style>
    body{
      background-color: #f8f8ff;
    }
    div{
      background-color: #ffffff;
    }
  </style>
  <link rel="stylesheet" href="fstyle.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>


  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#!">Formeasy</a>
  </nav>

<br>

<div class="container">
  <h3>AADHAR</h3>
  <h5>What is AADHAR?</h5>
  <p>Aadhaar number is a 12-digit random number issued by the UIDAI (“Authority”) to the residents of India after satisfying the verification process laid down by the Authority.</p>
  <p>Any individual, irrespective of age and gender, who is a resident of India, may voluntarily enrol to obtain Aadhaar number. Person willing to enrol has to provide minimal demographic and biometric information during the enrolment process which is totally free of cost. An individual needs to enrol for Aadhaar only once and after de-duplication only one Aadhaar shall be generated, as the uniqueness is achieved through the process of demographic and biometric de-duplication.</p>
  <p></p>
</div>
<br>
<div class="container">
  <h5>Information</h5>
  <table class="table">
  <tbody>
    <tr class="table-light">
      <th scope="row">1</th>
      <td>Demographic Information</td>
      <td>Name, Date of Birth (verified) or Age (declared), Gender, Address, Mobile Number (optional) and Email ID (optional), in case of Introducer-based enrolment- Introducer name and Introducer’s Aadhaar number, in case of Head of Family based enrolmen- Name of Head of Family, Relationship and Head of Family’s Aadhaar number; in case of enrolment of child- Enrolment ID or Aadhaar number of any one parent, Proof of Relationship (PoR) document</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Biometric Information</td>
      <td>Ten Fingerprints, Two Iris Scans, and Facial Photograph</td>
    </tr>
  </tbody>
</table>
<p></p>
</div>
<div class="container">
  <h5>Documents to be attached</h5>
  <p>POI (Proof of Identity) documents containing Name and Photo</p>
  <p>POR (Proof of Relationship) documents containing Name of applicant and Name of HoF (Head of Family)</p>
  <p>DOB (Date of Birth) documents containing Name and DOB</p>
  <p>POA (Proof of Address) documents containing Name and Address</p>
  <p></p>
</div>

</body>
</html>
