<!DOCTYPE html>
<html lang="en">
<head>
  <title>Formeasy PAN</title>
  <style>
    body{
      background-color: #f8f8ff;
    }
    div{
      background-color: #ffffff;
    }
  </style>
  <link rel="stylesheet" href="fstyle.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#!">Formeasy</a>
  </nav>

<br>

<div class="container">
  <h3>PAN</h3>
  <h4>Permanent Account Number (PAN)</h4>
  <h5>What is PAN?</h5>
  <p>Permanent Account Number or PAN is a means of identifying various taxpayers in the country.</p>
  <p>PAN is a 10-digit unique identification alphanumeric number (containing both alphabets and numbers) assigned to Indians, mostly to those who pay tax.</p>
  <p>When PAN is allotted to an entity, PAN Card too is given by the Income Tax Department. While PAN is a number, PAN Card is a physical card that has your PAN as well as name, date of birth (DoB), and photograph. Copies of this card can be submitted as proof of identity or DoB.</p>
  <p>PAN Card is important for taxpayers as it is necessary for all financial transactions and is used to track the inflow and outflow of your money. It is important when paying income tax, receiving tax refunds, and receiving communication from the Income Tax Department.</p>


</div>
<br>
<div class="container">
  <h5>Information</h5>
  <ul class="list-group">
  <li class="list-group-item">PAN Card contains information such as Name, Age and photograph, it can be used throughout the country as a valid identity proof.</li>
  <li class="list-group-item">PAN needs to be quoted while paying direct taxes.</li>
  <li class="list-group-item">Taxpayers need to input their PAN when paying income tax.</li>
  <li class="list-group-item">While registering a business, PAN information needs to be furnished.</li>
  <li class="list-group-item">A lot of financial transactions require PAN information.</li>
  <li class="list-group-item">PAN Card can be used to avail utility connections such as electricity, telephone, LPG, and internet.</li>
</ul>
</div>
<br>
<div class="container">
  <h5>Form</h5>
  <table class="table">
  <tbody>
    <tr class="table-light">
      <th scope="row">1</th>
      <td> Form 49A </td>
      <td>The Form 49A is used by Indian individuals or entities to apply for a PAN card. Students and minors can also apply for PAN using this form.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> Form 49AA </td>
      <td>The Form 49AA is the application form for PAN which is used in the case of foreigners.</td>
    </tr>
  </tbody>
</table>
</div>
<div class="container">
  <h5>Documents to be attached</h5>
  <p>POI (Proof of Identity) documents containing Name and Photo</p>
  <p>DOB (Date of Birth) documents containing Name and DOB</p>
  <p>POA (Proof of Address) documents containing Name and Address</p>
  <p></p>
</div>

</body>
</html>
