<!DOCTYPE html>
<html lang="en">
<head>
  <title>Formeasy VoterID</title>
  <style>
    body{
      background-color: #f8f8ff;
    }
    div{
      background-color: #ffffff;
    }
  </style>
  <link rel="stylesheet" href="fstyles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#!">Formeasy</a>
  </nav>

<br>

<div class="container">
  <h3>ELECTION CARD</h3>
  <h5>What is VoterID?</h5>
  <p>A Voter ID Card, also known as the Electors Photo Identity Card (EPIC) is a photo identity card that is issued by the Election Commission of India to all individuals who are eligible to vote.</p>
  <p>The primary purpose of this card is to improve the accuracy of the electoral roll and to help prevent cases of electoral fraud.</p>
  <p>It serves as an identification proof when individual’s cast their vote.</p>
  <p> This card is commonly known by other names such as an election card, voter’s card, Voter ID, etc.</p>
  <p></p>
</div>
<br>
<div class="container">
  <h5>Information</h5>
  <ul class="list-group">
  <li class="list-group-item">The card serves as an accepted form of personal identity.</li>
  <li class="list-group-item">The Voter ID Card acts as an acknowledgement that the card holder is a registered voter.</li>
  <li class="list-group-item">The card includes several identification features like the applicant’s signature, photograph, fingerprints, etc., which provide added assurance for the card holder.</li>
  <li class="list-group-item">In case of an election, the card carries provisions (by way of marking) to prevent the holder from voting multiple times.</li>
  <li class="list-group-item">The Voter ID card can be designed to suit electoral requirements of a population with low literacy population.</li>
  <li class="list-group-item">It is especially helpful as a form of identification for voters with no fixed address.</li>
  <p></p>
</div>
<br>
<div class="container">
  <h5>Documents to be attached</h5>
  <p>POI (Proof of Identity) documents containing Name and Photo</p>
  <p>DOB (Date of Birth) documents containing Name and DOB</p>
  <p>POA (Proof of Address) documents containing Name and Address</p>
  <p>Photograph</p>
</div>
<br>

</body>
</html>
